.card {
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-top:orange; 
    border-top-width:8px; 
    border-top-style:solid;
    max-width: 40rem;
    margin: auto;
    margin-top: 1.2rem;
}