* {
    margin: 0;
    padding: 0;
}

  .header div {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
  }
  
  .header nav {
    width: 100%;
    height:0.2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #ffffff;
  }

  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 1rem;
    margin-right: 1rem;

  }
  
  .header a {
    text-decoration: none;
    font-size: 1rem;
    color: #666666;
    padding: 0 0.5rem;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #333333;
    border-bottom:orange; 
    border-bottom-width:3px; 
    border-bottom-style:solid;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    justify-content: flex-start;
    padding-left: 5%;
  }

  .logo_right {
    margin-right:5%;
  }

  .login {
    background: #fbb875;
    border-radius: 10px;
    width:5rem;
    height:2rem;
    font-size:1rem;
    color:white;
    border:none;
  }

  .login:hover, .login.hover {
    background: orange;
    border-radius: 10px;
    width:5rem;
    height:2rem;
    color:white;
    border:none;
  }