.item {
    margin: 1rem;
  }
  
.status_color {
  /* This element covers each EditShareItemCard and display different colors depending on item status */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.content {
  position: absolute;
  top: 40%;
  width: 100%;
  
  margin: auto;

  font-family: 'Iowan Old Style';
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 33px;
  text-align: center;

  color: #F27F0C;
}