.item {
    margin: 1rem;
  }
  
  .content {
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 33px;
    text-align: center;

    color: #F27F0C;
  }
    
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }