.box {
  position: relative;
  left: -20%;
  right: 20%;
}

.list {
  list-style: none;
}

.card_board {
  display: flex;
  width: 200%;
  flex-flow: wrap;
}

.card_board::after {
  content: "";
  flex: 1;
  width: 100%;
}

.title_name {
  text-align: center;
  font-size: 1.5rem;
  color: #565656;
  position: relative;
  left: 20%;
}
