.list {
  list-style: none;
}

.card_board{
  display: flex;
  width: 200%;
  flex-flow: wrap;
}

.card_board::after {
  content: '';
  flex: 1;
}

.title_name {
  text-align: center;
  font-size: 1.5rem;
  color: #565656;
  margin-left:+18rem; /* to counteract Margin-left: -10 rem in .list. This makes "Reccomendation" in the center*/
  margin-right: -8rem; /* to counteract Margin-left: -10 rem in .list. This makes "Reccomendation" in the center*/
}

