.item {
  width: 24.9%;
  margin-top: 1rem;
  margin-left: 10px;
  border-radius: 8px;
  margin-bottom: 3rem;
}

.image {
  width: 80%;
  position: relative;
}

.image img {
  width: 100%;
  display: block;
  object-fit: cover;
  display: block;
}

.image_overlay a {
  color: bisque;
  font-size: 0.8rem;
  text-decoration: none !important;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay:hover > * {
  transform: translateY(0px);
  transition: transform 0.25s;
}

.h3 {
  font-size: 1.5rem;
  margin-bottom: 0.0625rem;
  font-weight: bold;
  font-family: Arial;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.paragraph {
  font-size: 1rem;
  margin-bottom: 0.0625rem;
  font-family: Arial;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* href link responsive design*/

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial;
}
a:visited {
  color: rgb(148, 85, 95);
  background-color: transparent;
  text-decoration: none;
  font-family: Arial;
}
a:hover {
  color: rgba(113, 5, 5, 0.781);
  background-color: transparent;
  text-decoration: underline;
  font-family: Arial;
}
a:active {
  color: rgb(217, 255, 0);
  background-color: transparent;
  text-decoration: underline;
  font-family: Arial;
}
